{% include 'base.html' %}

<div class="p-5 bg-light">
    <div class="container">
        <div class="container text-center">
            <h4>Entradas y Salidas</h4>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hora Entrada</th>
                            <th>Hora Salida</th>
                            <th>Lugar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>250420231500-A15</td>
                        <td>12:00</td>
                        <td>18:00</td>
                        <td>A15</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'end.html' %}