{% include 'base.html' %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/inout.css') }}">

<div class="p-5">
    <div class="container">
        <div class="container text-center">
            <h4>Entradas y Salidas</h4>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hora Entrada</th>
                            <th>Hora Salida</th>
                            <th>Tiempo En Sitio</th>
                            <th>Lugar</th>
                        </tr>
                    </thead>
                    {% for ticket in tickets %}
                    <tbody>
                        <td>{{ ticket[0] }}</td>
                        <td>{{ ticket[1] }}</td>
                        <td>{% if ticket[2] == 'null' %}{% else %}{{ticket[2]}}{% endif %}</td>
                        <td>{% if ticket[3] == 'null' %}{% else %}{{ ticket[3] }}{% endif %}</td>
                        <td>{{ticket[4]}}</td>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'end.html' %}