
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ver.css') }}">

{% include "base.html" %}

<div class="container">
    <div class="container-fluid">
        <h1 style="text-align: center;">Visualizar estacionamiento</h1>
        <br>
        <div class="row" id="DividirPagina">
            <div class="col-8"> <!-- Columna para Estacionamiento-->
                <div class="row"> <!-- Esto es pa iniciar la fila principal-->
                    <div class="col-9"><!--Columna espacios de estacionamiento-->
                        <div class="container-fluid autos">
                            <div class="row"><!--Seccion de Autos-->
                                <div class="row"><!--solo contendra 10 lugares-->
                                {% for i in range(aLenght) %}
                                    <!-- Inicia Preset de un lugar-->
                                    <div class="col lugar">
                                        <div class="lugar {{ Autos[i][6] }}">
                                            <p>{{ Autos[i][0] }} </p>
                                        </div>
                                    </div>
                                    <!--Finaliza preset del lugar-->
                                    {% if (i + 1) % (10) == 0 %}
                                    {% if (i + 1) == aLenght %}
                                    {% else %}
                                </div>
                                <div class="row"><!--solo contendra 10 lugares-->
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set cont = (aLenght-(anL*10)) %}
                                    {% if aLenght % (10) == 0 %}
                                        
                                    {% else %}
                                    {% if cont < 10 %} 
                                        {% for i in range(10-cont) %} 
                                    <div class="col">
                                        <div class="lugar-noasignado">
                                        </div>
                                    </div>
                                        {% endfor %}
                                    {% endif %}
                                        
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row"><!--Seccion de Discapacitados-->
                                <div class="row"><!--solo contendra 10 lugares-->
                                {% for i in range(dLenght) %}
                                    <!-- Inicia Preset de un lugar-->
                                    <div class="col lugar">
                                        <div class="lugar {{ Discapacitados[i][6] }}">
                                            <p>{{ Discapacitados[i][0] }}</p>
                                        </div>
                                    </div>
                                        <!--Finaliza preset del lugar-->
                                        {% if (i + 1) % (10) == 0 %}
                                        {% if (i + 1) == dLenght %}
                                        {% else %}
                                    </div>
                                    <div class="row"><!--solo contendra 10 lugares-->
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                        {% set cont = (dLenght-(dnL*10)) %}
                                        {% if dLenght % (10) == 0 %}
                                            
                                        {% else %}
                                        {% if cont < 10 %} 
                                            {% for i in range(10-cont) %} 
                                        <div class="col">
                                            <div class="lugar-noasignado">
                                            </div>
                                        </div>
                                            {% endfor %}
                                        {% endif %}
                                            
                                        {% endif %}
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 30px;"><!--Seccion de Motos-->
                                <div class="row"><!--solo contendra 10 lugares-->
                                {% for i in range(mLenght) %}
                                <!-- Inicia Preset de un lugar-->
                                    <div class="col lugar">
                                        <div class="lugar {{ Motos[i][6] }}">
                                            <p>{{ Motos[i][0] }}</p>
                                        </div>
                                    </div>
                                    <!--Finaliza preset del lugar-->
                                    {% if (i + 1) % (10) == 0 %}
                                    {% if (i + 1) == mLenght %}
                                    {% else %}
                                </div>
                                <div class="row"><!--solo contendra 10 lugares-->
                                    {% endif %}
                                    {% endif %}
                                {% endfor %}
                                    {% set cont = (mLenght-(mnL*10)) %}
                                    {% if mLenght % (10) == 0 %}
                                        
                                    {% else %}
                                    {% if cont < 10 %} 
                                        {% for i in range(10-cont) %} 
                                    <div class="col">
                                        <div class="lugar-noasignado">
                                        </div>
                                    </div>
                                        {% endfor %}
                                    {% endif %}
                                        
                                    {% endif %}
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-3"> <!--columna entrada-->
                             <h3>Entrada</h3>
                        </div>
                        </div>
                    </div>
            <div class="col-4">
                {% if mensaje %}
            <div class="alert alert-danger" role="alert">
              <strong>{{ mensaje }}</strong>
              <br>
              No se encontro ningun registro.
            </div>
              
            {% endif %}
                <div class="container searchbar">
                    <form action="/estacionamiento/ver/search" method="post" class="d-flex" role="search">
                        <input name="txtSearch" id="txtSearch" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <br>
                    <div class="card text-center">
                        <div class="card-header">
                          {% if find == '' %}{% else %}Busqueda encontrada{% endif %}
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">{% if find == '' %}Lugar{% else %}Lugar: {{ find[0][0] }}{% endif %}</h5>
                          <p class="card-text">{% if find == '' %}{% else %}
                            Seccion: {% if find[0][2] == 'auto' %}Automoviles{% elif find[0][2] == 'discapacitado' %}Discapacitados{% elif find[0][2] == 'moto' %}Motos{% endif %} ({{ find[0][4] }}) <br>
                            Estado: {{ find[0][6] }}  <br>
                            {% if find[0][3] == 0 %}{% else %}N Ticket: {{ find[0][5] }} <br>
                            <img src="/qr/{{ find[0][5] }}.png" alt="QR">
                            {% endif %}
                            {% endif %}
                        </p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .container-fluid .row .leyenda .col-8{
                    background-color: rgb(222, 222, 222);
                    border-color: rgb(222, 222, 222);
                }
                .container-fluid .row .leyenda .col-8 .row .col-4 .disp{
                    text-align: center;
                }
            </style>
            <div class="row">
                <div class="leyenda">
                    <div class="col-8">
                        <p>Leyenda:</p>
                        <hr>
                        <div class="row">

                            <div class="col-4">
                                <p>A - Automoviles</p>
                                <p>D - Discapacitados</p>
                                <p>M - Motos</p>
                            </div>
                            <div class="col-4">
                                <p class="disp" style="background-color:rgb(252, 75, 56); color: white;">Asignado</p>
                                <p class="disp" style="background-color: rgb(2, 226, 84);">Disponible</p>
                                <p class="disp" style="background-color:rgb(252, 190, 56);">No-Verficado</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'end.html' %}
