@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body{
    background-color: rgb(214,212,208);
}

.ticket{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.5);
    padding: 10px;

    position: absolute;
    width: 270px;
    height: 400px;
    left:50%;
    top:10%;
    transform: translateX(-50%);
}

.logo img{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 33px;
    top:52px;
}

.triangulo{
    width: 0;
    height: 0;
    border-right: 130px solid transparent;
    border-top: 5px solid transparent;
    border-left: 130px solid transparent;
    border-bottom: 23px solid rgb(255,174,15);
    margin-left: 10px;
}

.parkingzone{
    position:absolute;
    text-align: center;
    font-weight: 900;
    font-size: large;
    right: 38px;
    top:58px;
}

.recibo{
    position: absolute;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    top:27%;
    left:25px;
}

.recibo hr{
    border: 1px solid black;
}

.recibo label{
    display:inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
}

.informacion{
    position: absolute;
    top: 43%;
    left: 32px;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
}

.informacion label{
    display: inline-block;
    margin: 5px;
    letter-spacing: 1px;
}


.fecha{
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.qr hr{
    border: 1px solid black;
    margin-top: 215px;
    margin-left: 15px;
    margin-right: 10px;
}

.qr img{
    position: absolute;
    bottom: 10%;
    left: 31%;
    width: 40%;

}

.triangulo2{
    width: 0;
    height: 0;
    border-right: 130px solid transparent;
    border-top: 5px solid transparent;
    border-left: 130px solid transparent;
    border-bottom: 23px solid rgb(255,174,15);
    margin-left: 10px;
    margin-top: 130px;
}
