a {
    text-decoration: none;
    color: black;
}
.card-body a:hover{
    color: cornflowerblue;
}
.lista{
    list-style-type: none;
}
.container .row .container .btn{
    margin: 10px;
    padding: 15px;
    
}