.container-fluid .row .col-9{
    background-color: rgb(25, 25, 37);
    border-color: rgba(255, 238, 0, 0.637);
    border-style: solid;
}

.container-fluid .row .col-9 .row .col-2{
    border-left-color: rgb(251, 255, 0);
    border-left-style: dashed;
}
.container-fluid .row .col-9 .row .col-2 h3{
    text-align: center;
    color: white;
    margin-left: 50px;
    padding-bottom: 25px;
    border-left: 4px solid rgb(255, 255, 255);
    vertical-align: middle;
    font-size: large;

}
.container-fluid .row .col-9 .row .col-10 .container-fluid .row .row{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 4px dashed white;
}
.container-fluid .row .col-9 .row .col-10 .container-fluid .row .row .col.lugar{
    border-right: 2px solid yellow;
    border-top: 3px solid yellow;
    border-left: 1px solid yellow;
}
.container-fluid .row .col-9 .row .col-10 .container-fluid .row .row .col.button{
    border-right: 2px solid yellow;
    border-top: 3px solid yellow;
    border-left: 1px solid yellow;
}
.container-fluid .row .col-9 .row .col-10 .container-fluid .row .row .col.button form{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 4px;
    
}
.container-fluid .row .col-9 .row .col-10 .container-fluid .row .row .col.button form button{
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: center;
    padding-bottom: 15px;
    border: 3px double black;
}
.lugar.disponible {
    background-color: rgb(2, 226, 84);
}
.lugar.asignado {
    background-color:rgb(252, 75, 56);
}
.lugar.no-verificado {
    background-color:rgb(252, 190, 56);
}