<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: aliceblue;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> Linking Park</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Estacionamiento
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/estacionamiento/inout">Entradas / Salidas</a></li>
                            <li><a class="dropdown-item" href="/estacionamiento/ver">Visualizar Estacionamiento</a></li>
                            <li><a class="dropdown-item" href="/estacionamiento/search">Buscar lugar / ticket</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Notificaciones
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Alerta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Configuracion
                        </a>
                        <ul class="dropdown-menu">
                            <li ><a class="dropdown-item" href="#">Agregar lugar</a></li>
                            <li ><a class="dropdown-item" href="#">Eliminar lugar</a></li>
                            <li ><a class="dropdown-item" href="#">Modificar lugar</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-outline-warning" href="/LogOut" role="button">Log Out</a>
            </div>
        </div> 
    </nav>
    <div><br></div>