{% include 'base.html' %}

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/estacionamiento.css') }}">

<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-bg-light border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><a href="inout">Entradas / Salidas</a></div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-light border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><a href="ver">Visualizar Estacionamiento</a></div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-bg-light border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header"><a href="search">Buscar lugar / ticket</a></div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'end.html' %}