{% include 'base.html' %}

<style>
    a {
        text-decoration: none;
        color: black;
    }
    .card-body a:hover{
        color: cornflowerblue;
    }
    .lista{
        list-style-type: none;
    }
</style>
<div class="container">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-bg-light border-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Estacionamiento</div>
                <div class="card-body">
                    <ul>
                        <li class="lista">
                            <a href="inout">Entradas / Salidas</a>
                        </li>
                        <li class="lista">
                            <a href="ver">Visualizar Estacionamiento</a>
                        </li>
                        <li class="lista">
                            <a href="search">Buscar lugar / ticket</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'end.html' %}