{% include 'base.html' %}

<style>
    a {
        text-decoration: none;
        color: black;
    }
    .card-body a:hover{
        color: cornflowerblue;
    }
    .lista{
        list-style-type: none;
    }
    .container .row .container .btn{
        margin: 10px;
        padding: 15px;
        
    }
</style>
<div class="container">
    <div class="row">
        <h2>Estacionamiento</h2>
        <div class="container">
            <a href="/estacionamiento/inout" class="btn btn-warning">Entradas / Salidas</a>
            <a href="/estacionamiento/ver" class="btn btn-warning">Visualizar Estacionamiento</a>
            <a href="/estacionamiento/search" class="btn btn-warning">Buscar lugar / ticket</a>
        </div>
    </div>
    <div class="row">
        <h2>Notificaciones</h2>
        <div class="container">
            <a class="btn btn-warning" href="/alertas/avisos">
                Alertas <span class="badge text-bg-secondary">{{ n_avisos }}</span>
            </a>
            
            <a href="/alertas/historial" class="btn btn-warning">Historial</a>
        </div>
    </div>
    <div class="row">
        <h2>Configuracion</h2>
        <div class="container">
            <a href="/configuracion/agregar" class="btn btn-warning">Agregar lugar</a>
            <a href="/configuracion/borrar" class="btn btn-warning">Eliminar lugar</a>
            <a href="/configuracion/modificar" class="btn btn-warning">Modificar lugar</a>
        </div>
    </div>
</div>
{% include 'end.html' %}